body {
	background: #FFE;
	padding-bottom: 0;
}

#container {
	padding: 0;
	width: 96%;
}

#title {
	color: #333;
}

/************************************************
*******************  NAVBAR  ********************
*************************************************/
div.navbar-inverse {
	background: #3f3f3f;
}

#logo {
	display: inline;
	height: 60px;
}

.navbar-brand {
	display: inline;
	float: none;
	font-weight: bold;
	padding-left: 3px;
}

/************************************************
*******************  OPTIONS ********************
*************************************************/

#options {
	margin-left: 0;
	padding-right: 0;
	width: 10%;
}


div.bg-rect {
	background: #212121;
	margin: .3em;
	height: 80px;
	max-width: 80px;
	padding-top: 10px;
	text-align: center;
}

div.bg-rect > div {
	background: #d25d37;
	border-radius: 50%;
	height: 50px;
	margin: auto;
	padding: 10px;
	width: 50px;
}

div.bg-rect > div.active {
	box-shadow: 0 0 20px #888;
}

#options div img {
	display: block;
	width: 30px;
	height: 30px;
	margin: auto;
}

.option-name {
	color: #CCC;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: .1em auto 0;
	
}

/************************************************
****************** NAVIGATION *******************
*************************************************/
#navigation-container {
	padding: 0;
	width: 55%;
}

#navigation { 
	color: #212121; 
	height: 500px; 
	padding:20px; 
	overflow:auto;
	width: 100%;
}

#food-container {
	border: 1px solid #d25d37;
}

#food-container .panel-heading {
	background: #d25d37;
	border-bottom: 1px solid #d25d37;
}

#food-container .panel-title {
	font-weight: bold;
}

#food-container:first {
	margin-top: 0;
}

.food-img, .food-description {
	display: inline-block;
	vertical-align: top;
}

.food-description {
	color: #212121;
	padding-left: .1em;
	width: 80%;
}

.food-price {
	display: inline-block;
	font-weight: bold;	
	vertical-align: top;
	width: 85%;
}

.food-add {
	display: inline-block;
	font-size: 24px;
	margin-top: -30px;
	padding: 12px;
	padding-right: 35px;
	vertical-align: top;
}

.food-add:active {
	background: #3BC9F8;
}


/************************************************
******************* RESUMEN  ********************
*************************************************/
#resumen-container {
	border: 1px solid #d25d37;	
	height: 400px;
	padding: 0;
}

#resumen-container .panel-heading {
	background: #d25d37;
	border-bottom: 1px solid #d25d37;
}

#resumen-container .panel-body {
	height: 90%;
}

#resumen-container .panel-footer {
	background: #FFF;
	border: 1px solid #d25d37;;
	height: 31px;
	padding: 2px 15px;
}

#resumen-container .panel-title {
	font-weight: bold;
	text-align: center;
}

#resumen {
	color: #212121;
	font-weight: bold;
	height: 80%;
}

#resumen .food-order {
	display: inline-block;
	vertical-align: top;
	width: 75%;
}

#resumen .food-order-price {
	display: inline-block;
	text-align: right;
	width: 20%;
}

#resumen .pendiente {
	color: #F00;
}

#resumen .enviado {
	color: #163A18;
}

#enviar {
	display: block;
	text-align: right;
	width: 95%;
}

#enviar img {
	max-height: 60px;
	max-width: 60px;
}

#monto-total > span {
	color: #1A5006;
	font-family: Helvetica, Georgia;
	font-size: 18px;
	font-weight: bold;
}

#monto-total span:first-child {
	display: inline-block;
	width: 80%;
}

#monto-total #monto {
	width: 15%;
	text-align: right;
}


/***************************************************
******************** POPUP *************************
****************************************************/
#popup {
	background: #eee;
	color: #000;
	cursor: pointer;
}

.exception {
	background: #fff !important;
	color: #333 !important;
	cursor: pointer !important;
	display: inline-block;
	font-size: 14px !important;
	font-weight: normal !important;
	height: 60px;
	line-height: 1.428571429 !important;
	position: static !important;
	width: 48%;
}

.reveal-modal {
	padding: 5px 15px 5px;
	top: 2px;
}

.close {
	opacity: .5;
}

.reveal-modal .close-reveal-modal {
	top: 10px;
	right: 20px;
	color: #000;
	font-size: 28px;
}