body {
	background: #FFE;
	padding-bottom: 0;
}

#container {
	padding: 0;
	width: 96%;
}

#title {
	color: #333;
}

/************************************************
*******************  NAVBAR  ********************
*************************************************/
div.navbar-inverse {
	background: #3f3f3f;
}

#logo {
	display: inline;
	height: 60px;
}

.navbar-brand {
	display: inline;
	float: none;
	padding-left: 3px;
}

/************************************************
*******************  OPTIONS ********************
*************************************************/

#options {
	margin-left: 0;
	padding-right: 0;
	width: 10%;
}


div.bg-rect {
	background: #212121;
	margin: .3em;
	height: 80px;
	max-width: 80px;
	padding-top: 10px;
	text-align: center;
}

div.bg-rect > div {
	background: #d25d37;
	border-radius: 50%;
	height: 50px;
	margin: auto;
	padding: 10px;
	width: 50px;
}

div.bg-rect > div.active {
	box-shadow: 0 0 20px #888;
}

#options div img {
	display: block;
	width: 30px;
	height: 30px;
	margin: auto;
}

.option-name {
	color: #CCC;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: .1em auto 0;
	
}

/************************************************
****************** NAVIGATION *******************
*************************************************/
#navigation-container {
	padding: 0;
	width: 55%;
}

#navigation { 
	color: #212121; 
	height: 550px; 
	padding:20px; 
	overflow:auto;
	width: 100%;
}

#food-container {
	border: 1px solid #d25d37;
}

#food-container .panel-heading {
	background: #d25d37;
	border-bottom: 1px solid #d25d37;
}

#food-container .panel-title {
	font-weight: bold;
}

#food-container:first {
	margin-top: 0;
}

.food-img, .food-description {
	display: inline-block;
	vertical-align: top;
}

.food-description {
	color: #212121;
	padding-left: .1em;
	width: 80%;
}

.food-amount {
	margin-top: -7px;
}

.food-amount .amount {
	padding: 6px;
	text-align: center;
}

.input-group.bootstrap-touchspin {
	max-width: 100px;
}

.food-add {
	display: inline-block;
	font-size: 24px;
	margin-top: -20px;
	padding: 12px;
	padding-right: 35px;
	vertical-align: top;
}

.food-add:active {
	background: #3BC9F8;
}

/************************************************
******************* Carrito  ********************
*************************************************/
#resumen-container {
	border: 1px solid #d25d37;	
	height: 400px;
	padding: 0;
}

#resumen-container .panel-heading {
	background: #d25d37;
	border-bottom: 1px solid #d25d37;
}

#resumen-container .panel-body {
	height: 90%;
}

#resumen-container .panel-footer {
	background: #FFF;
	border: 1px solid #d25d37;
	height: 31px;
	padding: 2px 15px;
}

#resumen-container .panel-title {
	font-weight: bold;
	text-align: center;
}

#resumen {
	color: #212121;
	font-size: 12px;
	font-weight: bold;
	height: 80%;
}

#resumen .food-order-amount {
	border: 1px solid #CCC;
	border-bottom: none;
	border-right: none;
	border-top-left-radius: 10px;
	display: inline-block;
	padding: 3px .5em 0  3px;
	width: 8%;
}

#resumen .food-order {
	border-top: 1px solid #CCC;
	display: inline-block;
	padding-top: 3px;
	vertical-align: top;
	width: 70%;
}

#resumen .food-order-price {
	border: 1px solid #CCC;
	border-bottom: none;
	border-left: none;
	border-top-right-radius: 10px;
	display: inline-block;
	padding-top: 3px;
	text-align: right;
	width: 20%;
}

#resumen .food-order-option-container {
	border: 1px solid #CCC;
	border-top: none;
	border-radius: 0 0 10px 10px;
	font-size: 28px;
	margin-top: -2px;
	width: 98%;
}

#resumen .food-order-option.edit {
	color: #000;
	padding-left: 25px;
}

#resumen .food-order-option.remove {
	color: #000;
	padding-right: 25px;
	text-align: right;
}

#resumen .enviado .food-order-option.remove {
	color: #D7D7D7;
}

#resumen .separator {
	display: block;
	height: 4px;
}

#resumen .pendiente {
	color: #F00;
}

#resumen .enviado {
	color: #163A18;
}

#enviar {
	display: block;
	text-align: right;
	width: 95%;
}

#enviar img {
	max-height: 60px;
	max-width: 60px;
}

#monto-total > span {
	color: #1A5006;
	font-family: Helvetica, Georgia;
	font-size: 18px;
	font-weight: bold;
}

#monto-total span:first-child {
	display: inline-block;
	width: 70%;
}

#monto-total #monto {
	display: inline-block;
	text-align: right;
	width: 25%;
}

/***************************************************
******************** POPUP MESA*********************
****************************************************/
#popup {
	background: #eee;
	color: #000;
	cursor: pointer;
}

.exception {
	background: #fff !important;
	color: #333 !important;
	cursor: pointer !important;
	display: inline-block;
	font-size: 14px !important;
	font-weight: normal !important;
	height: 60px;
	line-height: 1.428571429 !important;
	position: static !important;
	width: 48%;
}

.reveal-modal {
	padding: 5px 15px 5px;
	top: 2px;
}

.close {
	opacity: .5;
}

.reveal-modal .close-reveal-modal {
	top: 10px;
	right: 20px;
	color: #000;
	font-size: 28px;
}


/**************************************************************
******************* POPUP REVOME A ORDER **********************
***************************************************************/
#confirm-delete, #confirm-send {
	display: none;
	box-shadow: 0px 0px 50px #FFF;
	height: 150px;
	min-width: 387px;
}

#confirm-delete .panel,
#confirm-send .panel {
	height: 100%;
}

#confirm-delete .panel-body div,
#confirm-send .panel-body div {
	text-align: right;
}